<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <div class="search">
        <form action="recommend" method="post">
            <p style="text-align: center">Quora questions search</p>
            <input type="text" class="searchTerm" name="query" placeholder="Search calls for...">

            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>

        </form>
    </div>
</div>
</body>
</html>